{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>
    <div class="row">
        <div class="col-sm-3">
            <ul>
                <li><a href="{{ path('main_index') }}">Back</a></li>
                <li><a href="{{ path('users_new') }}">Create a new user</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <table class="table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Id</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('users_view', { 'id': user.id }) }}">{{ user.username }}</a></td>
                        <td>{% if user.created %}{{ user.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if user.modified %}{{ user.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ user.id }}</td>
                        <td>
                            <a href="{{ path('users_view', { 'id': user.id }) }}">show</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
