{% extends 'base.html.twig' %}

{% block body %}
    <h1>User creation</h1>
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ path('users_index') }}">Back to the list</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            {{ form_start(form) }}
            <div class="input-group">
                {{ form_row(form.username, {
                    'label_attr': {
                        'class': 'control-label'
                    },
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            </div>
            <div class="input-group">
                {{ form_row(form.role, {
                    'label_attr': {
                        'class': 'control-label'
                    },
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            </div>
            <input type="submit" value="Create" class="btn btn-success"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
