{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>
    <div class="row">
        <div class="col-sm-3">
            <ul>
                <li>
                    <a href="{{ path('users_index') }}">Back to the list</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            <table class="table">
                <tbody>
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{% if user.created %}{{ user.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Modified</th>
                    <td>{% if user.modified %}{{ user.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
