{% extends 'base.html.twig' %}

{% block body %}
    <h1>Roles list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Role</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Id</th>
        </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.role }}</a></td>
                <td>{% if role.created %}{{ role.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if role.modified %}{{ role.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ role.id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
