{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div class="auth-error">
            {{ error.messageKey }}
        </div>
    {% endif %}

    <form action="{{ path('app_login_check') }}" method="post">
        <label for="username">{{ 'Username' }}</label>
        <input type="text" id="username" name="my_login"/>

        <label for="password">{{ 'Password' }}</label>
        <input type="password" id="password" name="my_secret"/>

        <button type="submit">{{ 'Submit' }}</button>
    </form>
{% endblock %}