{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-3 col-sm-offset-3">
        <h1>Main</h1>
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ path('chatrooms_index') }}">Chatrooms</a></li>
            <li class="list-group-item"><a href="{{ path('users_index') }}">Users</a></li>
            <li class="list-group-item"><a href="{{ path('role_index') }}">Roles</a></li>
        </ul>
    </div>

{% endblock %}
