{% extends 'base.html.twig' %}

{% block body %}

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
    <h1>Chatroom</h1>
    <div class="row">
        <div class="col-sm-2">
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ path('chatrooms_index') }}">Back to the list</a></li>
            </ul>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-3">
                    <form id="message">
                        <div class="form-group">
                            <input name="chatroom" id="chatroom" class="form-control" type="hidden" value="{{ chatroom_id }}"/>
                        </div>
                        <div class="form-group">
                            <label for="user">User</label>
                            <select name="user" class="form-control" id="user">
                                {% for user in users %}
                                    <option value="{{ user.getId() }}"> {{ user.getUsername() }} &nbsp;</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea rows="5" name="content" id="content" class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Send</button>
                    </form>
                    <script>
                        $(document).ready(function () {
                            // this is the id of the form
                            $("#message").on('submit', function (e) {
                                e.preventDefault(); // avoid to execute the actual submit of the form.

                                $.ajax({
                                    type: "POST",
                                    url: "{{ path('messages_api_new') }}",
                                    data: $("#message").serialize()
                                });

                            });
                        });
                    </script>
                </div>
                <div class="col-sm-9">

                    <table id="example" class="display" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Content</th>
                            <th>User</th>
                            <th>Sent</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "ajax": "{{ path('chatrooms_messages_api_list', { 'chatroomId': chatroom_id }) }}",
                "columns": [
                    {"data": "content"},
                    {"data": "user"},
                    {"data": "sent"}
                ],
                paging: false,
                buttons: false
            });

            setInterval(function () {
                table.ajax.reload(null, false); // user paging is not reset on reload
            }, 3000);
        });

    </script>
{% endblock %}
