{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chatrooms list</h1>
    <div class="row">
        <div class="col-sm-3">
            <ul>
                <li><a href="{{ path('main_index') }}">Back</a></li>
                <li><a href="{{ path('chatrooms_new') }}">Create a new chatroom</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Id</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for chatroom in chatrooms %}
                    <tr>
                        <td>
                            <a href="{{ path('chatroom_messages_enter', { 'id': chatroom.id }) }}">{{ chatroom.name }}</a>
                        </td>
                        <td>{% if chatroom.created %}{{ chatroom.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if chatroom.modified %}{{ chatroom.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ chatroom.id }}</td>
                        <td>
                            <a href="{{ path('chatroom_messages_enter', { 'id': chatroom.id }) }}">enter</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
