{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chatroom creation</h1>
    <div class="row">
        <div class="col-sm-3">
            <ul>
                <li>
                    <a href="{{ path('chatrooms_index') }}">Back to the list</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            {{ form_start(form) }}
            <div class="input-group">
                {{ form_row(form.name, {
                    'label_attr': {
                        'class': 'control-label'
                    },
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            </div>
            <div class="input-group">
                {{ form_row(form.users, {
                    'label_attr': {
                        'class': 'control-label'
                    },
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            </div>
            <br/>
            <input type="submit" value="Create" class="btn btn-success"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
